<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.summerain0" >

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
		android:theme="@android:style/Theme.Holo.Light"
        android:label="CodeEditorView">

        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 设置支持的屏幕最大宽高比 -->
		<meta-data
			android:name="android.max_aspect"
			android:value="2.1"/>

    </application>
	
</manifest>
